.productDetail{
    margin-top: 50px;
    font-size: 10px;
    display: inline-block;
    background-color: #0c64e98f;
    border: 3px solid #9e70e7;
    border-radius: 10px;
}

.ImgItem{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.image{
    width: 350px;
}

.infoDetail{
    margin: auto 0;
}
.cardDescription{
    font-size: 16px;
}
.cardPrice{
    font-size: 20px;
    color: rgb(103, 114, 216);
}
.cardPrice:before{
    content: 'COP $';
}
.btn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    border: none;
    padding: .5em .75em;
    text-align: center;
    font-weight: 300;
    border-radius: 5px;
    font-size: .875em;
    margin-top: 0.45rem;
    background-color: #797596;
    color: #ecf0f1;
    width: 153px;
}

@media screen and (max-width: 768px) {
    .productDetail {
        display: block;
    }
    img{
        width: 250px;
    }
}

@media screen and (max-width: 350px) {
    .productDetail {
        display: block;
    }
    img{
        width:175px;
    }
}

