* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0
  }
  .navBar {
    display: flex;
    align-items: center;
    background-color: #0c64e98f;
    width: 100vw;
    height: 80px;
    color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,1);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 1;
    position: absolute;
    justify-content: center;
    
}
.navbar-brand {
    display: flex;
    width: 80vw;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    
}

.navBar Button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #AF9AB2;
}

.navBar{
    margin: 15px;
}