* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
  }
  .itNavbar {
    display: flex;
    align-items: center;
    background-color: #0c64e98f;
    width: 96vw;
    height: 88px;
    color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,1);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 1;
    justify-content: center;
    
}
.lgNavbar{
    display: flex;
    width: 80vw;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    
}

.itNavbar Button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #AF9AB2;
}

.mnNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50vw;
    margin-right: 153px;
}

.lkNavbar{
    color:#0B1D51;
    text-decoration: none;
    padding: 10px 17px;
}
