.ItemProducto{
    position: relative;
    background: #797596;
    box-shadow: 0 4px 8px 0 rgba(11, 29, 81, 1);
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    order: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    grid-template-columns: repeat(1, 1fr);
}
.image{
    width: 100%;
}

h3{
    color: #0B1D51;
}
p{
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    color: #fff;           
}

button {
    padding: 12px;
    color: #fff;
    background-color: #0B1D51;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    cursor: pointer;
    width: 99%;
    font-size: 14px;
}

button :hover {
    opacity: 0.7;
  }

