.cardCount{
    max-width: 300px;
    border-radius: 5px;
    display: contents;
    margin-top: 20px;
    margin-right: auto;
    color: #0B1D51;
}
h5{
    text-align: center;
    padding: 10px 0px ;
}
p{
    padding: 5px 0px;
}
.cardBajo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contador{
    width: 15%;
    background-color: transparent;
    text-align: center;
    color: black;
    padding: .35em .75em;
}

.mas {
    background: #AF9AB2;
    padding: 7px;
    padding-left: 7px;
    border-bottom: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 15%;
    border: none;
    background-color: transparent;
    color:  #797596;
    text-align: center;
}

.menos{
    background: #0c64e98f;
    padding: 7px;
    padding-left: 11px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    vertical-align: top;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    text-align: left;
    width: 15%;
    border: none;
    background-color: transparent;
    color:  #797596;
    text-align: center;
}

.add{
    background: #4187f065;
    margin-top: 5px;
    padding: 4px;
    padding-left: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}